ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}

// We use the --background and --color variables to change the colors of <ion-item> and <ion-button> components.